* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    --neutral: #e9e0d1;
    --pale-burnt: rgb(214, 157, 109);
    --burnt: rgb(184, 99, 68);
    --cushion: rgb(182, 41, 52);
    --pale-yves: rgb(79, 133, 182);
    --yves: rgb(0,47,167);
    --dark-yves: rgb(25, 19, 66);

    background-color: var(--neutral);
    color: var(--cushion);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
}

a:visited {
    color: var(--dark-yves);
}

/* header section */

header {
    background: rgba(214, 157, 109, 0.6);
    padding: 0;
    display: flex;
    justify-content: center;
    top: 0;
    height: 80px;
    position: -webkit-sticky;
    position: sticky;
    z-index: 999;
}

header nav {
    padding: 20px 4px 10px 4px;
    width: 800px;
    height: 80px;
}

header nav h1 {
    font-weight: bold;
    font-size: 2.1vw;
    margin: 0 20px;
    padding-left: 20px;
    text-align: end;
}

.header-name {
    border-right: 2px solid var(--pale-yves);
    display: flex;
    justify-content: flex-end;
}

.header-list {
    border-left: 2px solid var(--pale-yves);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px 25px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

header a {
    text-decoration: none;
}

/* hero background image */

.hero {
    left: 0;
    top: 0;

    /* flexbox */
    display: flex;
    justify-content: center;
    align-items: center;

    /* background adjustments */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* bio section  */

.bio {
    background: var(--neutral);
    display: flex;
    justify-content: center;
    height: 500px;
    flex-wrap: wrap;
    
}

.bio-title {
    /* background-color: rgba(184, 99, 68, 0.85); */
    background-image: linear-gradient(90deg, var(--neutral), var(--burnt));
    display: inline-block;
    /* justify-content: flex-end;
    align-items: center; */
    width: 60%;
    height: inherit;
    position: absolute;
    text-align: right;
    left: 5vw;
    border-right: 4px solid var(--yves);
    padding: 240px 20px;
    transition-property: width;
    transition-duration: 5s;
}

.bio-title:hover {
width: 0%;
}


.bio-copy {
    /* padding: 5vw 20vh; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 67vw;
    max-height: inherit;
    letter-spacing: 1.8px;
    line-height: 2;
    color: var(--burnt);
    
}

/* work section */

.work {
    text-align: center;
    top: 40px;
    position: relative;
    
}

.work img {
    width: 360px;
    height: auto;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
.bio-copy {
    letter-spacing: 1;
    font-size: 12px;
}

}