

body {
    --neutral: #e9e0d1;
    --pale-burnt: rgb(214, 157, 109);
    --burnt: rgb(184, 99, 68);
    --cushion: rgb(182, 41, 52);
    --pale-yves: rgb(79, 133, 182);
    --yves: rgb(0,47,167);
    --dark-yves: rgb(25, 19, 66);

    background-color: var(--neutral);
    font-family: gothamlight;
}

header {
    padding: 20px 35px;
    background-color: var(--neutral);
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    /* background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999; */
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--yves);
    margin: 0;
    display: block;
    /* text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
}

header nav {
    display: block;
    
}
/* .see {
    width: 200px;
    height: 200px;
}

#box-1 {
    background: rgb(182, 41, 52);
}

#box-2 {
    background: rgb(184, 99, 68);
}

#box-3 {
    background: rgb(79, 133, 182);
   
} */
